{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>{{ .Title }}</h1>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item"><a href="https://github.com/{{ .Params.author }}">{{ .Params.author }}</a></li>
                    <li class="list-inline-item">{{ index $.Site.Data.calendar.weekdays .Date.Weekday }}, {{ .Date.Day }} {{ index $.Site.Data.calendar.months .Date.Month }}, {{ .Date.Year }} </li>
                </ul>
                <img class="img-fluid mb-50" src="{{ .Params.image | absURL }}" alt="blog-image">
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="post-single-content">
                    {{ .Content }}
                    {{ partial "share_post" . }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
