{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1>{{ .Title }}</h1>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item"><a href="/author/{{ urlize .Params.author}}">{{ .Params.author }}</a></li>
                    <li class="list-inline-item">
                        {{ if .Date}}{{ dateFormat "Monday, 2 Jan, 2006" .Date }}
                        {{else}}{{ dateFormat "Monday, 2 Jan, 2006" .GitInfo.AuthorDate }}{{end}} </li>
                </ul>
                <img class="img-fluid mb-50" src="{{ .Params.image | absURL }}" alt="blog-image">
            </div>
            <div class="col-lg-8 offset-lg-2">
                <div class="post-single-content">
                    {{ .Content }}
                    {{ partial "share_post" . }}
                    {{ partial "post_comments" .}}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
