#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#header4-0 P {
  font-size: 20px;
  text-align: center;
}
#header4-0 H1 {
  font-size: 36px;
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .mbr-article P {
  text-align: center;
}
#msg-box3-0 .btn {
  font-size: 18px;
}
#msg-box3-0 .mbr-article H4 {
  text-align: center;
}
#msg-box1-2 .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-2 .mbr-article {
  color: #000000;
}
#msg-box1-0 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-0 .mbr-article {
  color: #ffffff;
  font-size: 16px;
}
#msg-box1-0 .btn {
  font-size: 16px;
}
#msg-box3-25 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-25 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-25 .mbr-article P {
  color: #777777;
}
#msg-box3-23 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-23 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-23 .mbr-article P {
  text-align: center;
}
#menu-20 .mbr-brand__name {
  font-size: 16px;
}
#menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-20 .mbr-navbar__section {
  background: #000000;
}
#menu-20 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box2-43 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-43 .mbr-article {
  color: #252525;
  font-size: 24px;
  text-align: center;
}
#menu-38 .mbr-brand__name {
  font-size: 16px;
}
#menu-38.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-38 .mbr-navbar__section {
  background: #000000;
}
#menu-38 .mbr-navbar__hamburger {
  color: #000000;
}
