{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="bg-one">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-xl-12">

				{{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="social-icon">
					<ul class="list-inline">
						{{ range .Site.Params.footer.socialIcon }}
						<li class="{{ .icon }} list-inline-item"><a href="{{ .url }}"><i class="tf-ion-social-{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>

				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ .Site.BaseURL | absURL }}">
						<img src="{{ .Site.Params.logo | absURL }}" alt="Meghna" />
					</a>
					<br>

					<p>Motyw tej strony został zaprojektowany i opracowany przez <a href="{{ .Site.Params.footer.copyrightURL | absURL }}"> {{ with .Site.Params.footer.copyright }} {{ . }} {{ end }} </a>. Copyright &copy; <script>
						document.write(new Date().getFullYear())
					</script>. Wszelkie prawa zastrzeżone.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{"<!-- Essential Scripts -->" | safeHTML}}

{{ $jquery:= resources.Get "/js/jquery.min.js" }}
{{ $sc := resources.Get "/js/scroll-behavior-polyfill.js" }}
{{ $util := resources.Get "/js/bootstrap/util.js" }}
{{ $ss := resources.Get "/js//bootstrap/scrollspy.js" }}
{{ $cp := resources.Get "/js//bootstrap/collapse.js" }}
{{ $wow := resources.Get "/js/wow.js" }}
{{ $script := resources.Get "js/script.js" }}
{{ $sweets := resources.Get "/js/sweet-surprise.js" }}
{{ $ready := resources.Get "/js/ready.js" }}
{{ $swal := resources.Get "/js/sweetalert.min.js" }}
{{ $easymde := resources.Get "/js/easymde.min.js" }}
{{ $autosize := resources.Get "/js/autosize.min.js" }}
{{ $main_js := slice $jquery $sc $util $ss $cp $wow $sweets $ready $swal $autosize $script | resources.Concat "/js/main.js" | minify | fingerprint }}

<script defer type="text/javascript" src="{{ $main_js.Permalink | absURL }}" integrity="{{ $main_js.Data.Integrity }}"></script>
