{{ $data := index .Site.Data }}
{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .bgImage | relURL }}");'>
    <div class="block">
       <h1>{{ .title }}</h1>
       <p>{{ .content | markdownify}}</p>
       {{ if .btn}}
        <a href="abp:subscribe?location={{ .btnURL }}&title={{ .btnTitle }}" class="btn btn-transparent">{{ .btnText}}</a>
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{ end }}