{{ if .Site.Data.instructions.enable}}
{{"<!-- Start instructions Section -->" | safeHTML}}
<section class="bg-one instructions section" id="instructions">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center">
                <h2>{{ .Site.Data.instructions.heading}} <span class="color">{{ .Site.Data.instructions.headingSpan}}</span> </h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
            <div class="content text-center">
                <p>{{with .Site.Data.instructions.content}} <p>{{ . | markdownify}}</p> {{ end }}</p>
        </div>
    </section>
{{"<!-- /instructions -->" | safeHTML}}
{{ end }}



