<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    {{ partial "head.html" . }}
    {{ partial "seo.html" . }}
</head>
<body>
        <script defer="" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {{ partial "menu.html" . }}
    <section class="engine"><a rel="external" href="https://mobirise.com">easy website builder</a></section><section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-after-navbar" id="msg-box3-23" style="background-color: rgb(255, 255, 255);"></section>

            <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 62px;">
                <div class="mbr-header mbr-header--wysiwyg row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="mbr-header__text">Licencje i kontakt</h3>

                    </div>
                </div>
            </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 31px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><p>Jeśli chcesz pomóc z usprawnianiem listy, zgłaszaj strony w <a href="https://github.com/PolishFiltersTeam/KAD/issues" target="_blank">sekcji Issues na GitHubie</a>, na e-mail kadrep@outlook.com lub poprzez formularz poniżej.</p><p><br></p><p>Jeśli sądzisz, że Twoja strona została dodana do tej listy bezpodstawnie, lub zmieniła swojego właściciela i/lub jej cel skontaktuj się bezpośrednio na e-mail.</p><p>Proszę wziąć pod uwagę, iż emaile z próbami przekupienia będą ignorowane.</p><p><br></p><p>Licencja KAD: <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></p><p>Licencja logo: <a href="https://www.gnu.org/licenses/gpl-2.0.html" target="_blank">GPL</a>,  <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p></div>
        </div>
    </div>

</section>
{{ .Content }}

{{ partial "footer.html" . }}
{{ partial "main_scripts.html" . }}
</body>
</html>
