{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section section-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="title text-center">
					<h2>{{ with i18n "aboutAuthor" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with i18n "aboutAuthor" }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
				<div class="content text-center">
					<figure>
						{{ if .Params.Image }}
						<img class="rounded-circle img-fluid" src="{{.Params.Image | relURL }}">
						{{else if .Params.Email}}
						<img class="rounded-circle img-fluid"
							src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
						{{ end }}
						<figcaption>
							<h5 class="font-weight-bold">
								{{ .Title }}
							</h5>
						</figcaption>
					</figure>
					<hr>
					{{ .Content }}
					<hr>
					<ul class="list-inline">
                        {{ with .Params.github }}
						<li class="list-inline-item"><a class="simple-icon" href="https://github.com/{{.}}"><i class="ti-github"></i></a></li>
                        {{ end }}

                        {{ with .Params.facebook }}
                        <li class="list-inline-item"><a class="simple-icon" href="https://facebook.com/{{.}}"><i class="ti-facebook"></i></a></li>
                        {{ end }}

                        {{ with .Params.twitter }}
                        <li class="list-inline-item"><a class="simple-icon" href="https://twitter.com/{{.}}"><i class="ti-twitter"></i></a></li>
                        {{ end }}

                        {{ with .Params.instagram }}
                        <li class="list-inline-item"><a class="simple-icon" href="https://instagram.com/{{.}}"><i class="ti-instagram"></i></a></li>
                        {{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title text-center">
					<h2>{{ with i18n "authorsPosts" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with i18n "authorsPosts" }} {{ index (split . " ") 1 }} {{ end }}</h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{ range .Data.Pages }}
			{{ .Render "article" }}
			{{ end }}
		</div>
	</div>
</section>
{{ end }}
