{{ define "main" }}
{{ $bgColor := "secondary" }}
{{ $textAlign := .Params.textAlign }}
<div class="container-fluid p-0 {{ with $bgColor }} bg-{{ . }} bg-opacity-{{ site.Params.style.themeOpacity | default "25" | safeHTML }}{{ end }}">
    <div class="container-xxl p-4 px-xxl-0 {{ if site.Params.home.fullCover }} fullcover{{ end }} d-flex flex-column">
        <div class="row justify-content-center flex-fill">
            <h2 id="contact" class="border-bottom border-danger mb-3 text-center">{{ i18n "contactTitle" }}</h2>
            <div class="col-12 col-md {{with $textAlign}}text-{{.}}{{end}}">
                {{ .Content | safeHTML }}
            </div>
            <div class="col-12 col-md {{with $textAlign}}text-{{.}}{{end}}">
                {{ readFile "contact/contactForm.html" | safeHTML }}
            </div>
        </div>
    </div>
</div>
<div id="kadetect"></div>
<div id="kadguard"></div>
{{ end }}