.bg-hero-area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--bs-body-bg);
}

[data-bs-theme="dark"] {
    .bg-hero-area {
        color: var(--bs-body);
    }
}

.bg-hero-mask {
    background-color: hsla(0, 0%, 0%, 0.6);
    height: 100%;
    width: 100%;
}


.text-center ul {
    text-align: left;
}

p:has(+ ul) {
    margin-bottom: 0;
}

div+ul {
    text-align: left !important;
}

.bg-hero-area p {
    @extend .lead;
}

input#e-mail,
#hidden_iframe {
    display: none;
}

#kadetect,
#kadguard {
    height: 1px;
    position: absolute;
    left: -3000px;
}

@import "sweetalert2";
@import "sweetalert2-dark";
/* Staticman Comments */

#staticman-form:before {
    display: block;
    height: 90px;
    margin-top: -90px;
    visibility: hidden;
    content: "";
}

@media (max-width: 768px) {
    #staticman-form:before {
        display: block;
        height: 80px;
        margin-top: -80px;
        visibility: hidden;
        content: "";
    }
}

.post-comment {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-comment-header {
    margin-bottom: 20px;
}

.post-comment-avatar {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.post-comment-info {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
}

.post-comment-field {
    display: block;
    font: inherit;
    padding: 10px;
    margin-top: 20px;
    outline-color: #F76C5E;
    width: 100%;
}

.post-comment-name {
    font-weight: 500;
    font-size: 18px;
}

a, p {
    overflow-wrap: break-word;
}

body {
    position: relative;
}
