{{ define "main" }}
{{ $taxonomy := "authors" }}
{{- $page := . }}
{{- $breakpoint := partial "utilities/GetBreakpoint.html" -}}
{{- $colGrid := "" -}}
{{- $cols :=  "" | default "3" -}}
{{- $responsive :=  true -}}
{{- $gutter := "" | default 4 -}}
{{- if eq $cols "1" }}{{ $colGrid = "row-cols-1" -}}
{{- else if eq $cols "2" }}{{ if $responsive }}{{ $colGrid = printf "row-cols-1 row-cols-%s-1 row-cols-%s-2" $breakpoint.prev $breakpoint.current }}{{ else }}{{ $colGrid = "row-cols-2" }}{{ end -}}
{{- else if eq $cols "3" }}{{ if $responsive }}{{ $colGrid = printf "row-cols-1 row-cols-%s-2 row-cols-%s-3" $breakpoint.prev $breakpoint.current }}{{ else }}{{ $colGrid = "row-cols-3" }}{{ end -}}
{{- else if eq $cols "4" }}{{ if $responsive }}{{ $colGrid = printf "row-cols-1 row-cols-%s-2 row-cols-%s-4" $breakpoint.prev $breakpoint.current }}{{ else }}{{ $colGrid = "row-cols-4" }}{{ end -}}
{{- else if eq $cols "5" }}{{ if $responsive }}{{ $colGrid = printf "row-cols-1 row-cols-%s-3 row-cols-%s-5" $breakpoint.prev $breakpoint.current }}{{ else }}{{ $colGrid = "row-cols-5" }}{{ end -}}
{{ end -}}

{{- $class := "border-0 card-zoom" -}}
<div class="container-xxl p-4 px-xxl-0">
    {{ if and (not $page.IsHome) site.Params.navigation.breadcrumb }}
    <div>{{ partial "assets/breadcrumb.html" (dict "page" $page) }}</div>
    {{ end -}}
    <div class="row row-cols-1 row-cols-{{ $breakpoint.current }}-2">
        <div class="col-12 col-{{ $breakpoint.current }}-9 text-center">
            {{ with .Params.name }}<p id="{{ anchorize . }}" class="display-4 mt-5 text-center">{{ . }}</p>{{ end }}
            {{ if .Params.photo }}
            <img class="rounded-circle img-fluid" src="{{.Params.photo | relURL }}">
            {{else if .Params.Email}}
            <img class="rounded-circle img-fluid"
            src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
            {{ end }}
            <hr>
            {{ .Content }}
            <hr>
            <ul class="list-inline">
                {{ range .Params.social }}
                <a class="text-decoration-none link-secondary d-inline p-2" href="{{.url}}">
                    {{ partial "assets/icon.html" (dict "icon" (printf "%s fa-2x" .icon ))}}
                </a>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

<div class="container-xxl p-4 px-xxl-0">
    <div class="row row-cols-1 row-cols-{{ $breakpoint.current }}-2">
        <div class="col-12 col-{{ $breakpoint.current }}-9">
            <div class="row row-cols-1 row-cols-{{ $breakpoint.current }}-2">
                <div class="col-12 col-{{ $breakpoint.current }}-9">
                    {{ with i18n "authorsPosts" }}<p id="{{ anchorize . }}" class="display-4 mt-5">{{ . }}</p>{{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    {{- $wrapper := "" | default "p-0" -}}
    <div class="container-xxl p-4 px-xxl-0 pb-5">
        <div class="container-fluid {{ $wrapper }}">
            <div class="row {{ $colGrid }} g-{{ $gutter }}">
                {{ range .Data.Pages }}
                <div class="col">
                    {{- partial "assets/card.html" (dict 
                    "path" (.Permalink | relURL )
                    "title" (.Params.name)
                    "description" (.Summary)
                    "class" $class
                    ) -}}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid flex-fill"></div>
{{ end }}