.hero-area .block h1, .title h2, .post-block .content h3 {
    text-transform: none;
}

.contact-info p {
    margin-bottom: 15px;
}

#cf-submit .btn-info {
    width: 100%;
}

p img {
  max-width: 100%;
  height: auto;
}

figure img {
    width: auto;
}

figure {
    text-align: center;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jura', sans-serif;
}

p {
    font-family: 'Jura', sans-serif;
}

.header-bradcrumb a,
.header-bradcrumb .active {
  font-family: 'Jura', sans-serif;
}

a.navbar-brand.logo {
    display: flex;
    align-items:center;
}

.hero-area {
    height: auto;
    padding-top: 300px;
    padding-bottom: 150px;
}

.content {
    padding-left: 10px;
    padding-right: 10px
}

ul {
    list-style: square;
}

div {
  overflow-wrap: break-word;
}


/* .form-group .CodeMirror {
  background: transparent;
  border: 1px solid rgba(236,239,241,.07);
  color: #ddd;
}

.form-group .editor-preview-active{
  background: #292f36;
}
.form-group .editor-toolbar button {
  color: #737f8a;
}
.form-group .editor-toolbar {
  border-color: rgba(236,239,241,.07);
}

.form-group .editor-toolbar i.separator {
  border-color: #737f8a;
}

.form-group .CodeMirror-selected {
  background: #35aaac;
}

.form-group .CodeMirror div.CodeMirror-cursor {
 border-left: 1px solid white;
}

.form-control-meghna .CodeMirror-focused {
  border-color: #57cbcc;
  box-shadow: 0 0 0 0.2rem rgba(0,174,255,.432);
  outline: 0;
  border-radius: .25rem;
}

.form-meghna .CodeMirror:hover {
  border-color: #57cbcc;
}

.form-group .editor-preview pre {
  background: transparent;
}

.form-group .editor-toolbar button.active,
.form-group .editor-toolbar button:hover {
    background: #57cacc05;
    border-color: #57cbcc;
} */

.mb--50 {
  margin-bottom: -50px;
}

#kadetect, #kadguard {
  height: 1px;
  position: absolute;
  left: -3000px;
}

#swal2-content {
  color: #737f8a;
}

.swal2-popup .swal2-title {
  color: #afbac4;
}

.swal2-popup {
  background: #1d2024;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-container.swal2-backdrop-show {
  background-color: rgba(150,150,150,.1);
}

.navbar-brand:hover {
  color: #57cbcc !important;
}

.navbar-toggler[aria-expanded="true"]+.navbar-collapse {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}


.modal-vlg {
  max-width: 80%;
}

input#manualSubscribe {
  width: 70%;
  background-color: transparent;
  color: #ddd;
  border: 1px solid rgba(236,239,241,.07);
}

.swal2-grow-row {
  margin-left: 50px;
  margin-right: 50px;
}

ul {
  list-style-position: outside;
}
