/* anaheim-regular - latin-ext_latin */
@font-face {
    font-family: 'Anaheim';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Anaheim'), local('Anaheim-Regular'),
    url('/fonts/anaheim/anaheim-v6-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/anaheim/anaheim-v6-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jura-regular - latin-ext_latin */
@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Jura Regular'), local('Jura-Regular'),
         url('/fonts/jura/jura-v10-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/jura/jura-v10-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jura-500 - latin-ext_latin */
  @font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local('Jura Medium'), local('Jura-Medium'),
         url('/fonts/jura/jura-v10-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/jura/jura-v10-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jura-600 - latin-ext_latin */
  @font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: local('Jura SemiBold'), local('Jura-SemiBold'),
         url('/fonts/jura/jura-v10-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/jura/jura-v10-latin-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jura-700 - latin-ext_latin */
  @font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local('Jura Bold'), local('Jura-Bold'),
         url('/fonts/jura/jura-v10-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/jura/jura-v10-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }