{{"<!-- Start Contact -->" | safeHTML}}
<section id="contact" class="parallax-section section section-bg">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with i18n "contactTitle" }}{{ index (split . " ") 0 | safeHTML }}{{ end }}
                        <span class="color">{{ with i18n "contactTitle" }}{{ after (len (index (split . " ") 0)) . | safeHTML }}{{ end }}</span>
                    </h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            <noscript>
                <div class="pb-5">
                    <h2>Do pełnej funkcjonalności strony potrzebujesz włączonej obsługi skryptów. Tu znajdziesz
                        <a href="https://www.enable-javascript.com/pl/" target="_blank" rel="noopener">
                            instrukcje, które pozwolą Ci włączyć skrypty w Twojej przeglądarce</a>.
                    </h2>
                </div>
            </noscript>

            {{"<!-- Contact Info -->" | safeHTML}}
            <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">

                {{ $headless := .Site.GetPage "/home" }}
                {{ $reusablePages := $headless.Resources.Match "contactInfo.md" }}
                {{ range $reusablePages }}
                    {{ .Content}}
                {{ end }}
            </div>

            {{"<!-- Contact Form -->" | safeHTML}}
            {{ readFile "home/contactForm.html" | safeHTML }}
        </div>

    </div>
</div>
<div id="kadetect"></div>
<div id="kadguard"></div>
</section>
{{"<!-- /contact -->" | safeHTML}}
