{{ if .Site.Data.recommended.enable }}
{{"<!-- recommendeds -->" | safeHTML }}
<section id="recommended" class="parallax-section section section-bg">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML }}
            <div class="col-lg-12">
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.recommended.heading}} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.recommended.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="500ms">
                    {{ with .Site.Data.recommended.title }} <h2> {{ . }} </h2> {{ end }}
                    {{ with .Site.Data.recommended.content }} <p> {{ . | markdownify}} </p> {{ end }}
                    {{ with .Site.Data.recommended.btnText }} {{ . | markdownify}} {{ end }}
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="500ms">
                    {{ with .Site.Data.recommended.title2 }} <h2> {{ . }} </h2> {{ end }}
                    {{ with .Site.Data.recommended.content2 }} <p> {{ . | markdownify}} </p> {{ end }}
                    {{ with .Site.Data.recommended.btnText2 }} {{ . | markdownify}} {{ end }}
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="500ms">
                    {{ with .Site.Data.recommended.title3 }} <h2> {{ . }} </h2> {{ end }}
                    {{ with .Site.Data.recommended.content3 }} <p> {{ . | markdownify}} </p> {{ end }}
                    {{ with .Site.Data.recommended.btnText3 }} {{ . | markdownify}} {{ end }}
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="offset-lg-3 text-center wow fadeInUp" data-wow-duration="500ms">
            <p>Więcej list filtrów znajdziesz na <a href="https://majkiit.github.io/polish-ads-filter/" target="_blank" rel="noopener" class="text-info">majkiit.github.io/polish-ads-filter</a>.</p>
        </div>

    </div>

</section>
{{"<!-- /recommended -->" | safeHTML }}
{{ end }}