{{ if .Site.Data.recommended.enable }}
{{"<!-- recommendeds -->" | safeHTML }}
<section id="recommended" class="parallax-section section section-bg">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML }}
            <div class="col-lg-12">
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.recommended.heading}} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.recommended.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}
        </div>
        <div class="container">
            <div class="row">
                {{ range $filterlist := $.Site.Data.RFilterLists.items }}
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="500ms">
                    {{ with  $filterlist.title }} <h2> {{ . }} </h2> {{ end }}
                    {{ with  $filterlist.desc }} <p> {{ . | $.Page.RenderString }} </p> {{ end }}
                    <a class="btn btn-outline-info" href="{{ if findRE "AB|ABP|AG" .adblocker }}abp{{ else if findRE "uBO|NA" .adblocker }}ubo{{end}}:subscribe?location={{.subscribe}}&amp;title={{ trim .title "* " }}">
                        Subskrybuj
                    </a>
                    <a class="btn btn-transparent ml-1" href="{{.subscribe}}" target="_blank" rel="noopener">
                        Podgląd
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
        <br>
        <br>
        <div class="offset-lg-3 text-center wow fadeInUp" data-wow-duration="500ms">
            <p>Więcej list filtrów znajdziesz na <a href="https://majkiit.github.io/polish-ads-filter/" target="_blank" rel="noopener" class="text-info">majkiit.github.io/polish-ads-filter</a>.</p>
        </div>

    </div>

</section>
{{"<!-- /recommended -->" | safeHTML }}
{{ end }}