$navbar-light-toggler-icon-bg:                  url("/icons/navbar-light-toggler-icon-bg.svg") !default;
$navbar-dark-toggler-icon-bg:                   url("/icons/navbar-dark-toggler-icon-bg.svg") !default;
$accordion-button-icon:                         url("/icons/accordion-button-icon.svg") !default;
$accordion-button-icon-dark:                    url("/icons/accordion-button-icon-dark.svg") !default;
$accordion-button-active-icon:                  url("/icons/accordion-button-active-icon.svg") !default;
$accordion-button-active-icon-dark:             url("/icons/accordion-button-active-icon-dark.svg") !default;
$carousel-control-prev-icon-bg:                 url("/icons/carousel-control-prev-icon-bg.svg") !default;
$carousel-control-next-icon-bg:                 url("/icons/carousel-control-next-icon-bg.svg") !default;
$btn-close-bg:                                  url("/icons/btn-close-bg.svg") !default;
$btn-toggle:                                    url("/icons/btn-toggle.svg") !default;
$btn-toggle-dark:                               url("/icons/btn-toggle-dark.svg") !default 
